<!DOCTYPE html>
<html>
  <head>
    <title>RockNRailsDemoApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- MAIN BODY TEMPLATE PAGE FOR LIKE NAV BARS / FOOTERS, etc -->
    <!--Every page will have this link to create a new album-->

    <a href="/albums/new">Make a New Album</a>

      <!-- any page you have is going to appear here => INDEX, SHOW< all HTML pages show in the yield-->
    <%= yield %>
  </body>
</html>
